/*
      Created by Keith Donegan of Code-Sucks.com
	  
	  E-Mail: Keithdonegan@gmail.com
	  
	  You can do whatever you want with these layouts,
	  but it would be greatly appreciated if you gave a link
	  back to http://www.code-sucks.com
	  
*/

* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
#wrapper { 
 margin: 0 auto;
 width: 922px;
}
#faux {
 /*background: url(faux-4-2-col.gif);*/
 margin-bottom: 10px;
 overflow: auto; /* Paul O Brien Fix for IE www.pmob.co.uk */
 width: 100%
}
#header {
 color: #333;
 width: 902px;
 padding: 10px;
 height: 50px;
 margin: 40px 0px 0px 0px;
 background: rgb(255, 0, 0);
 -webkit-border-radius: 100px;
 border-radius: 100px;
 -webkit-box-shadow:  2px 2px 2px 2px rgba(10, 10, 10, 10);
 box-shadow:  2px 2px 2px 2px rgba(10, 10, 10, 10);
}

#title{
 color:#FFFFFF;
 margin: 10px 0px 0px 10px;
 text-shadow: 5px 5px 5px #000000;
 filter: dropshadow(color=#000000, offx=5, offy=5);
}
#rightcolumn { 
 display: inline;
 color: #333;
 margin: 10px;
 padding: 0px;
 width: 195px;
 float: right;
}
#leftcolumn { 
 float: left;
 color: #333;
 margin: 10px;
 padding: 0px;
 width: 683px;
 display: inline;
 position: relative;
}
#menu{
 width: 916px;
 margin: 0 auto;
 font-size: 14px;
 font-weight: bold;
 letter-spacing: 1px
}

.clear { clear: both; background: none; }